# Dependências
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/

# Arquivos de produção
/build

# Arquivos diversos
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variáveis de ambiente locais
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts