* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #151515;
  color: whitesmoke;
  width: 100%;
}

strong {
  color: #15F5BA;
}

container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

container img {
  width: 120px;
  margin: 15px 0px  ;
}

content {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}


.about {
  display: flex;
  flex-direction: column;

}

.links {
  color: #15F5BA;
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 30px;
  margin: 15px 0px;
}

.links a {
  text-decoration: none;
  color: #15F5BA;
}

.links a:hover {
  text-decoration: none;
  color: #22A39F;
}

.mail {
  color: #E96479;
}

.paragrafo {
  line-height: 120%;
  margin: 15px 0px;
}

.projetos {
  color: white;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-size: 14px;
} 

.projetos li {
  margin-bottom: 2px;
}

.projetos a {
  color: #E96479;
  text-decoration: none;
}

.projetos a:hover {
  color: #CD5888;
  text-decoration: none;
}

h2 {
  margin: 10px 0px;
}

.techs {
  color: #15F5BA;
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 15px;
}

.techs .fa-brands {
  font-size: 30px;
}


.techs :hover {
  text-decoration: none;
  color: #22A39F;
}

.techs {
  color: #15F5BA;
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 15px;
}

.techs {
  color: #15F5BA;
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 15px;
}

.techs .fa-brands,
.techs .fa-solid {
  font-size: 25px;
  position: relative;
}

/* Estilizando o tooltip */
.techs .fa-brands::after,
.techs .fa-solid::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -30px; /* Posiciona abaixo do ícone */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
  font-size: 12px;
  z-index: 10;
}

.techs .fa-brands:hover::after,
.techs .fa-solid:hover::after {
  opacity: 1;
  visibility: visible;
}

/* Transição instantânea do tooltip */
.techs .fa-brands:hover::after,
.techs .fa-solid:hover::after {
  transition: opacity 0s ease-in-out, visibility 0s ease-in-out;
}
